:root{
	--font-sans: 'Montserrat', sans-serif;
}

html, body, #root {
	height: 100%;
}

body {
	margin: 0;
	font-family: var(--font-sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, a, span, li, button, input, textarea {
	font-family: var(--font-sans);
}
